<ng-template #loginModal class="modal-lg">
  <!-- Modal Header -->
  <div class="modal-header bg-gray-dark border-0">
    <h4 class="modal-title text-primary">Member Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <fa-icon [icon]="faTimes" class="text-primary"></fa-icon>
    </button>
  </div>
  <!-- Modal body -->
  <div class="modal-body bg-secondary text-primary">
    <div *ngIf="userService.loginError" class="alert alert-danger" role="alert">
      {{ userService.loginError }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="form-group">
        <input type="text" formControlName="username" class="form-control bg-secondary border border-top-0 border-left-0 border-right-0 border-primary" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control bg-secondary border border-top-0 border-left-0 border-right-0 border-primary" placeholder="Password">
      </div>
      <div class="form-group">
        <ui-switch size="small" class="mr-2" formControlName="remember"></ui-switch>
        <label class="form-check-label">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
  <!-- Modal footer -->
  <div class="modal-footer bg-gray-dark border-0">
    <small class="text-muted">9AnimeDl will send your credentials directly to the 9Anime server without storing it elsewhere</small>
  </div>
</ng-template>