<div class="row">
  <div class="col-6 text-white">
    <span class="copyleft">&copy;</span> Aroop "FinlayDaG33k" Roelofs - 2018-2020<br />
    9AnimeDl is not built by, maintained by or sponsored by 9Anime and/or it's affiliates.<br />
    This software is licensed under the GNU GPLv2 license.<br />
    Usage of this software may not be legal depending on your local jurisdiction; Aroop "FinlayDaG33k" Roelofs can and shall not be held liable for any damages done.<br />
  </div>
</div>
<div class="row my-4">
  <div class="col-6 text-white">
    <b>Version:</b> {{ appVersion }}<br />
    <b>Source code:</b> <a (click)="this.appComponent.openRepo()">{{ repoUrl }}</a><br />
  </div>
</div>
<div class="row my-4">
  <div class="col-12 text-white">
    <h2>Privacy Policy</h2>
    With the use of this app, you agree to it's privacy policy.<br />
    The information we collect shall be used only in the development of this app in order to make this app behave as intended.<br />
    Information collected shall only be shared with 9Anime and Sentry.<br />

    TODO: Go to all the legal jargon, so here's a TLDR:
    <ul>
      <li>IP</li>
      <li>Location on your drive this app is installed</li>
      <li>OS</li>
      <li>App version</li>
      <li>Logs</li>
      <li>Search queries/Series downloaded</li>
    </ul>
  </div>
</div>