<ng-template #donateModal class="modal-lg">
  <!-- Modal Header -->
  <div class="modal-header bg-gray-dark border-0">
    <h4 class="modal-title text-primary">Got a moment?</h4>
  </div>
  <!-- Modal body -->
  <div class="modal-body bg-secondary text-primary">
    Hii there,<br />
    <br />
    Sorry to bother you with this but would you please just give me a moment?<br />
    You see, you've just downloaded anime from 9Anime with arguably one of the easiest tools out there to do so.<br />
    <br />
    This tool, however, is built in my spare time and made available to people that want it, free of any charge.<br />
    As you have noticed, there aren't even any ads in the app.<br />
    By doing so, however, I'm not making any income out of it as-is.<br />
    As such, I pay any development and distribution costs out of my own pocket.<br />
    Think about stuff like the server maintenance and upkeep (I host my own server at home) and the maintenance and upkeep of my workstation.<br />
    <br />
    My question hereby, as you've already guessed, would you be kind enough to donate some of your spare cash?<br />
    It doesn't have to be much, heck, you don't even have to do it at all if you don't want to.<br />
    But do know that it'll help me out in case something needs to be replaced in my workstation, server or to get my a nice bottle of whiskey to keep me company while working on the project.<br />
    All small bits help!<br />
    <br />
    If you are willing to donate, please click the green button below and it'll take you to my PayPal!<br />
    <br />
    Thanks to everyone willing to help me out!
  </div>
  <!-- Modal footer -->
  <div class="modal-footer bg-gray-dark border-0">
    <button type="button" class="btn btn-danger" (click)="hideModal('greed')">I'm too greedy for that</button>
    <button type="button" class="btn btn-warning" (click)="hideModal('remind')">I'll think about it</button>
    <button type="button" class="btn btn-success" (click)="hideModal('go')">Count me in!</button>
  </div>
</ng-template>