<div id="banned" class="text-center">
  <img src="assets/img/banned.gif" alt="image" class="w-25">
  <h4 class="text-primary">Z23 has found out we've been banned</h4>
  <span class="text-muted">
    She seems kinda angry about it<br />
    <br />
    This ban lasts for one hour, please do not open tickets if you see this screen.<br />
    Teitoku is already aware of this and is working on a solution.<br />
    Please click the "News & Feedback" button in the top to see if there's any news on it.
  </span>
</div>

  