<div class="modal show" id="wafModal">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" style="height: 450px">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Please verify you are humanoid creature</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <!-- <re-captcha (resolved)="onResolve($event)" siteKey="{{ siteKey }}"></re-captcha> -->
        Please see the pop-up that just appeared to solve the captcha
        <webview id="wafView" src="https://www.9anime.to/anime" style="height: 100%"></webview>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <span class="text-muted">This check is mandatory and <b>cannot</b> be worked around by the 9AnimeDl developers</span>
      </div>
    </div>
  </div>
</div>