@import '../../../../theme';

.card {
  max-width: 17.5rem;
}

%status-shared {
  border-bottom: 2px solid map-get($theme-colors, "planned") !important;
}

.watching {
  @extend %status-shared;
  border-bottom-color: map-get($theme-colors, "watching") !important;
}

.watched {
  @extend %status-shared;
  border-bottom-color: map-get($theme-colors, "watched") !important;
}

.onhold {
  @extend %status-shared;
  border-bottom-color: map-get($theme-colors, "onhold") !important;
}

.dropped {
  @extend %status-shared;
  border-bottom-color: map-get($theme-colors, "dropped") !important;
}

.planned {
  @extend %status-shared;
}



