#no-results {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    background-blend-mode:screen;
  }
}