  <div id="loading-screen" class="text-center">
    <img src="assets/img/loading.gif" alt="image" class="w-25">
    <h4 class="text-primary">Loading up some things, hang on tight!</h4>
    <span class="text-muted">Meanwhile, here's Prinz Eugen to you keep you happy</span>
  </div>


  