@import 'theme';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

/* You can add global styles to this file, and also import other style files */
html, body {
  overflow: hidden;
  height: 100%;
}

main {
  height: 100%;
  padding-top: 26px;
  overflow-y: scroll;
  position: absolute;

  /**  
   * Arguably the most hideous fix for an issue
   * Check: https://stackoverflow.com/questions/58993756/scrollbar-too-long-due-to-bootstrap-4-navbar/58995740#58995740
   */
  border-bottom: 87px solid #ccc;
}

span {
  &.switch {
    border-radius: 0 !important;
    border: 0px !important;

    background-color: map-get($theme-colors, "gray-dark") !important;
    margin-bottom: -5px !important;

    &.checked{
      background-color: map-get($theme-colors, "primary") !important;
    }

    &-small {
      width: 43px !important;

      &.checked {
        small {
          left: 33px !important;
        }
      }
      small {
        width: 10px !important;
      }
    }

    small {
      border-radius: 0px !important;
    }
  }
}

.toast-info {
  background-color: map-get($theme-colors, "primary") !important;
  color: #FFFFFF;
  border: 0;
  background-image: url(svg-encode(
    svg-factory(
      #ffffff,
      '0 0 512 512',
      'M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'
    )
  ));
}

.toast-top-right {
  top: 52px;
  right: 12px;
}

.window-control {
  height: 31px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  
  button {
    -webkit-app-region: none;
  }
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: map-get($theme-colors, "gray-dark");
}

::-webkit-scrollbar-thumb{
  background: map-get($theme-colors, "primary");
}
::-webkit-resizer {
  display: none;
}

.dropdown {
  .dropdown-menu {
    background: map-get($theme-colors, "dark");

    a {
      color: #FFFFFF;

      &:hover {
        background: map-get($theme-colors, "secondary");
        color: #FFFFFF;
      }
    }
  }
}